// bower:scss
// endbower

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background: #663399;
  background: radial-gradient(ellipse at top 30% center, #4a256e 0%, #2d1643 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'NTR', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.1s ease;
  background: radial-gradient(ellipse at bottom right, #993333 0%, #1b0202 90%);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: none;
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
}

input {
  border: 0;
  padding: 5px 20px 3px;
  font-size: 1.8rem;
  border-radius: 300px;
  transition: all 3s ease;

  &:focus {
    outline: 0;
    box-shadow: 0 0 10px rgba(255,255,255,0.8);
    transition: all 3s ease;
  }
}

input[type="submit"] {
  cursor: pointer;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2);
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.95;
    transition: all 0.2s ease;
  }
}

@keyframes pop-down {
    0%   { opacity: 0; transform: translateY(-10px) scale(0.5); }
    100% { opacity: 1; transform: translateY(0px) scale(1); }
}

#signup {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 100%;
  opacity: 0;
  margin-top: -200px;
  text-align: center;
  transform: scale(0.95);
  transition: all 3s ease;

  &.visible {
    opacity: 1;
    transform: scale(1);
    transition: all 3s ease;
  }

  .logo {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
  }

  h1 {
    margin: 0;
    color: white;
    font-size: 3.4rem;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
  }

  h2 {
    margin: 0;
    line-height: 1;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
  }

  p {
    width: 400px;
    margin: 60px auto 5px;
    color: white;
    font-size: 2rem;
    line-height: 1;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
  }

  #mc_embed_signup {
    position: relative;
    z-index: 3;
    width: 300px;
    margin: auto;

    input[type=email] {
      width: 300px;
      font-family: 'NTR', Helvetica, Arial, sans-serif;
    }

    input[type=submit] {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      padding: 3px 20px 1px;
      border: 2px white solid;
      background: #663399;
      text-transform: uppercase;
      font-family: 'NTR', Helvetica, Arial, sans-serif;
    }

    .response {
      position: relative;
      z-index: 10;
      background: white;
      border-radius: 5px;
      padding: 10px;
      line-height: 1.4;
      margin-top: 3px;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
      transform-origin: 50% 0%;
      animation: pop-down 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: white;
        border-width: 6px;
        margin-left: -6px;
      }

      &:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: rgba(0,0,0,0.1);
        border-width: 7px;
        margin-left: -7px;
      }
    }
  }

}

#social {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 104px;
  margin: 0 0 0 -46px;
  padding: 0;
  opacity: 0;
  list-style: none;
  transition: all 3s ease;

  &.visible {
    opacity: 1;
    transition: all 3s ease;
  }

  li {
    margin: 0 4px;
    display: inline-block;

    a {
      opacity: 0.5;
      display: block;
      transition: all 0.2s ease;

      &:hover {
        opacity: 1;
        transition: all 0.2s ease;
      }

      img {
        width: 24px;
        height: auto;
        display: block;
      }
    }
  }
}